<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FLYTAU - התחברות</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

  <div class="panel">
    <div class="wrapper">
      <div class="title-row">
        <h1>התחברות</h1>
        <img class="inline-logo" src="{{ url_for('static', filename='img/LOGO.png') }}" alt="FLYTAU">
      </div>

      <p class="subtitle">התחברו כדי לצפות בהזמנות שלכם ולבצע רכישות מהירות.</p>

      {% if message %}
      <div class="error-message">{{ message }}</div>
      {% endif %}

      <form action="/login" method="POST">
        <input type="hidden" name="next_url_hidden" value="{{ next_param }}">

        <div class="input-group">
          <label class="label">אימייל</label>
          <div class="input-box">
              <i class="far fa-envelope"></i>
              <input name="customer_email" type="email" placeholder="email@example.com" required>
          </div>
        </div>

        <div class="input-group">
          <label class="label">סיסמה</label>
          <div class="input-box">
              <i class="fas fa-lock"></i>
              <input name="password" type="password" placeholder="••••••••" required>
          </div>
        </div>

        <button class="btn" type="submit">כניסה למערכת</button>

        <div class="links">אין לך חשבון? <a href="/register?next={{ next_param }}">הירשם עכשיו</a></div>
      </form>
    </div>
  </div>

  <div class="image-section" style="background-image: url('{{ url_for('static', filename='img/FLYTAU_airplane.png') }}');">
    <div class="overlay"></div>

    <div class="promo-content">
      <div class="promo-title">העולם מחכה לכם.</div>
      <div class="promo-desc">התחברו והתחילו לתכנן את המסע הבא שלכם עם FLYTAU.</div>
    </div>
  </div>

</body>
</html>